@use '@angular/material' as mat;

$pr1s0nart-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$pr1s0nart-light-accent: mat.define-palette(mat.$brown-palette, 200);
$pr1s0nart-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$pr1s0nart-light-theme: mat.define-light-theme(
  $pr1s0nart-light-primary,
  $pr1s0nart-light-accent,
  $pr1s0nart-light-warn
);
